@model BO.Arme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Arme</h4>
    <hr />
    @Html.Partial("_DeleteDetails")

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
